---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Astro + Sanity Learning Blog"
  description="A tutorial project for learning Sanity as a headless CMS with Astro."
>
  <h1 class="font-mono text-red-500">Astro</h1>
</BaseLayout>
